# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=010c09bca869c5ed5e2ac4eac460a20fa18fce53c734ead6d687057a48df8357

# For production, set these environment variables:
# NEXTAUTH_URL=https://object-detection-jade-nine.vercel.app
# NEXTAUTH_SECRET=010c09bca869c5ed5e2ac4eac460a20fa18fce53c734ead6d687057a48df8357
